ion-view(view-title="{{'transactions.cc.title' | translate}}")
  ion-content.page-padding.details-palan-wrapper

    include ../../shared/stepper-2

    //- include credit-card-page1
    include credit-card-page1
    include credit-card-page2
    //- include credit-card-page4
    