ion-view(view-title="{{'maintenance.title' | translate}}")
  ion-content.details-palan-wrapper
    
    div(style='width:100%; height:100%; padding-top: 20%;')
      div(style='margin: 0 auto; display: table;')
        h3(ng-bind-html='message')
