ion-popover-view
  ion-content
    .list
      a.item(href='#/transactions/changeAddress')
        | Profile
      a.item(href='', target='_blank')
        | Setting
      a.item(href='', target='_blank')
        span.ion-log-out &nbsp;
        span Logout