ion-view(view-title="{{'setPasswordBox.title' | translate}}")
  ion-content.details-palan-wrapper


    .progress-container
      .progress-line
        .line
          .progress-100

        .stage.completed
          span.step-number.ion-checkmark
          .step-label {{viewData.verify}}

        .stage.current
          span.step-number 2
          .step-label {{viewData.password}}

    div(style='margin-top: 8%')
      h2.center.margin-bottom-large Set Password
      include setPassBox