ion-modal-view.general-modal.cancelAutoDebitModal
  ion-header-bar.bar-stable
    h1.title(translate='transactions.cancelAutoDebit.modal.title')
    .bar-stable
      button.button.button-icon.icon.ion-close-round(ng-click='closeModal()')
  ion-content
    .row
      .col-80.center-block.margin-top-xl
        h3(translate='transactions.cancelAutoDebit.modal.confirmationMsg')


    .row
      .col-10
      .col-33
        button.button.button-calm.button-wide.button-major(ng-click='CADmodal.no()', translate='transactions.cancelAutoDebit.modal.no')
      .col-10
      .col-33
        button.button.button-major.button-wide(ng-click='CADmodal.yes()', translate='transactions.cancelAutoDebit.modal.yes')
      .col-10
