ion-modal-view
  ion-header-bar.bar-stable
    h1.title(translate='transactions.reinstatement.giwl.agmt.title')
    .bar-stable
      button.button.button-icon.icon.ion-close-round(ng-click='closeModal()')
  ion-content
    .row
      .col-80.center-block.margin-top-xl
        h3(translate='transactions.reinstatement.giwl.tnc.subhead')

        p.margin-bottom-xxs(translate='transactions.reinstatement.giwl.agmt.text')
        ol.list-alpha
          li(translate='transactions.reinstatement.giwl.agmt.pointA')
          li(translate='transactions.reinstatement.giwl.agmt.pointB')
          li(translate='transactions.reinstatement.giwl.agmt.pointC')
        p(translate='transactions.reinstatement.giwl.agmt.text2')
