ion-modal-view
  ion-header-bar.bar-stable
    h1.title(translate='transactions.dc.tnc.title')
    .bar-stable
      button.button.button-icon.icon.ion-close-round(ng-click='closeModal()')
  ion-content
    .row
      .col-80.center-block.margin-top-xl
        h3(translate='transactions.dc.tnc.header')

        p.margin-bottom-large(translate='transactions.dc.tnc.text')
        ol.list-numeral.margin-bottom-large
          li(translate='transactions.dc.tnc.point1')
          li(translate='transactions.dc.tnc.point2')
          li(translate='transactions.dc.tnc.point3')
          li(translate='transactions.dc.tnc.point4')
          li(translate='transactions.dc.tnc.point5')
          li(translate='transactions.dc.tnc.point6')
          ol.list-alpha
            li(translate='transactions.dc.tnc.point6a')
            li(translate='transactions.dc.tnc.point6b')
            li(translate='transactions.dc.tnc.point6c')
          li(translate='transactions.dc.tnc.point7')
          li(translate='transactions.dc.tnc.point8')
          li(translate='transactions.dc.tnc.point9')

