ion-modal-view
  ion-header-bar.bar-stable
    h1.title(translate='transactions.fs.tc.title')
    .bar-stable
      button.button.button-icon.icon.ion-close-round(ng-click='closeModal()')
  ion-content
    .row
      .col-80.center-block.margin-top-xl

        h3(translate='transactions.fs.tc.notes')

        ol.has-border-padding.list-alpha.margin-bottom-xl
          li(translate='transactions.fs.tc.pointA')
          li(translate='transactions.fs.tc.pointB')

        h3(translate='transactions.fs.tc.subhead')
        p.margin-bottom-xl(translate='transactions.fs.tc.text')







