ion-modal-view
  ion-header-bar.bar-stable
    h1.title(translate='transactions.reinstatement.giwl.tnc.title')

    .bar-stable
      button.button.button-icon.icon.ion-close-round(ng-click='closeModal()')
  ion-content
    .row
      .col-80.center-block.margin-top-xl
        h3(translate='transactions.reinstatement.giwl.tnc.subhead')

        p.margin-bottom-large.has-border-padding(translate='transactions.reinstatement.giwl.tnc.text')
