ion-modal-view
  ion-header-bar.bar-stable
    h1.title(translate='transactions.changeAddress.tc.title')
    .bar-stable
      button.button.button-icon.icon.ion-close-round(ng-click='closeModal()')
  ion-content
    .row
      .col-80.center-block.margin-top-xl
        h3(translate='transactions.changeAddress.tc.header')

        p.margin-bottom-large(translate='transactions.changeAddress.tc.text1')
        p.margin-bottom-xl(translate='transactions.changeAddress.tc.text2')
