ion-modal-view
  ion-header-bar.bar-stable
    h1.title {{_viewData.title}}
    .bar-stable
      button.button.button-icon.icon.ion-close-round(ng-click='closeModal()')
  ion-content
    .row
      .col-80.center-block.margin-top-xl
        h3(translate='transactions.cc.tc.header')
        p(translate='transactions.cc.tc.block1')

        ol.terms-conditions-list.margin-bottom-xl
          li(translate='transactions.cc.tc.listItem1')

          li(translate='transactions.cc.tc.listItem2')

          li(translate='transactions.cc.tc.listItem3')

          li(translate='transactions.cc.tc.listItem4')
















