ion-modal-view
  ion-header-bar.bar-stable
    h1.title(translate='transactions.topup.tnc.title')
    .bar-stable
      button.button.button-icon.icon.ion-close-round(ng-click='closeModal()')
  ion-content
    .row
      .col-80.center-block.margin-top-xl

        h3(translate='transactions.topup.tnc.notes')

        ol.has-border-padding.list-alpha.margin-bottom-xl
          li(translate='transactions.topup.tnc.pointA')
          li(translate='transactions.topup.tnc.pointB')

        h3(translate='transactions.topup.tnc.subhead')
        p.margin-bottom-xl(translate='transactions.topup.tnc.text')




