ion-view(view-title="{{'transactions.dc.title' | translate}}")
  ion-content.page-padding

    include ../../shared/stepper-4

    include directCredit-step-1
    include directCredit-step-2
    include directCredit-step-3
    include directCredit-step-4