.div
  .div
    canvas#doughnut.chart.chart-doughnut(height='{{chartSize}}', chart-data='donutChartData', chart-labels='donutChartLabels', chart-dataset-override='donutChartDataset')
  .div(style='position: relative; margin-top: {{margin}}')
    canvas#pie.chart.chart-pie(height='{{pieSize}}', chart-data='pieChartData', chart-labels='pieChartLabels', chart-dataset-override='pieChartDataset')