ion-view(view-title="{{'transactions.topup.title' | translate}}")
  ion-content.page-padding

    include ../../shared/stepper-4

    include topup-step-1
    include topup-step-2
    include topup-step-3
    include topup-step-4