<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Change Payment Cycle (high to low) [iServe]</title>

</head>

<body>

<table>
  <tr>
    <td>
    <p>Dear<strong><%= ownerName %></strong>,</p>
    <br>
    <p>We have received your request of <strong><%= transactionType %></strong> for the policy/certificate below on <%= dateTime %>. Please remit Payment of RM <strong><%= amount %></strong> at our nearest AIA service center to proceed with Payment Cycle changes. 
    </p>

    <br>
    <p>Policy/Certificate Number</p>
    <p><strong><%= policyNo %></strong></p>

    <br>

    <p>If you have any questions, please contact our Care Line at 1300 88 1899. Our office hours are:</p>

    <p>Monday to Thursday 8.30am - 5.30pm</p>
    <p>Friday 8.30am - 4.30pm</p>

    <br>

    <p>Thank you.</p>
    <p>Yours sincerely
    <br>AIA Bhd/AIA Public Takaful</p>
    </td>
  </tr>
</table>

</body>
</html>