<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>payment</title>

</head>

<body>

<table>
  <tr>
    <td>
    <p>Dear <strong><%= ownerName %></strong>,</p>
    <br>
    <p>Thank you your payment of RM <strong><%= amount %></strong> on <strong><%= dateTime %></strong>.  Enclosed is the receipt for your safekeeping.
    </p>

    <br>

    <p>If you have any questions, please contact our Care Line at 1300 88 1899. Our office hours are:</p>

    <p>Monday to Thursday 8.30am - 5.30pm</p>
    <p>Friday 8.30am - 4.30pm</p>

    <br>

    <p>Thank you.</p>
    <p>Yours sincerely
    <br>AIA Bhd/AIA Public Takaful</p>
    </td>
  </tr>
</table>

</body>
</html>