ion-view(view-title="{{'transactions.cancelAutoDebit.title' | translate}}")
  ion-content.page-padding

    include ../../shared/stepper-3

    include cancel-step-1
    include cancel-step-2
    include cancel-step-3
