ion-view(view-title="{{'transactions.medcard_replacement.title' | translate}}")
  ion-content.page-padding.details-palan-wrapper

    include ../../shared/stepper-4

    include card-replacement-page1
    include card-replacement-page2
    include card-replacement-page3
    include card-replacement-page4