ion-view(view-title="{{'transactions.changePaymentCycle.title' | translate}}")
  ion-content.page-padding

    include ../../shared/stepper-3

    include change-step-1
    include change-step-2
    include change-step-3
